#myImage{
    margin:10px auto;
    display:block;
    
}

#ImageMain{
    
    border: rgb(134, 251, 255) 4px dashed;
}

.back--Header--main{
    background-color: #2c2e3e;
}

#textMain{
    color:#fff;
}

#selecMain{
    z-index:0;
}

.portada{
    width: 50%;
    display:block;
    margin:auto;
}


.notImage{
    border: #2c2e3e 3px;
}

.iconoNotImg{
    font-size: 300%;
}

.logoLogin{
    width: 50%;
}

.imgHome{
    width: 50%;
    display:block;
    margin:auto;
    padding: 2%;
   
}

.btn-traslate{
    padding: 5px;
    margin: 10px;
}

.btn-busca-map{
    margin-top: 27px;
}



.start{
    font-size: 30px;
    padding-bottom: 10px;
    color:#ffb822;
}
