/*mapa*/

#map{
    width: 100%;
    height:200px;
    margin-bottom: 20px;
}

.text-message{
    font-size:12px;
}

.logo-realestate{
    width: 150px;
}


#titleMain{
    color: #ff214f;
}

.boxMain{
    text-decoration: none;
    
}

.boxMain:hover{
    background-color: #ffe6ea;
}

.btnBack{
    float: right;
}

.btnSubmit{
    float: center;
}